<div class="languages">
    <div class="languagesTitle">Languages</div>
    <ul class="languagesList">
      <li class="languagesElement">
        <div class="languagesElementTitle">English</div>
        <div class="languagesBar">
          <span class="languagesComplete" style="width: 90%;"></span>
          <div class="languagesProgress">90%</div>
        </div>
      </li>
      <li class="languagesElement">
        <div class="languagesElementTitle">Arabic</div>
        <div class="languagesBar">
          <span class="languagesComplete" style="width: 85%;"></span>
          <div class="languagesProgress">85%</div>
        </div>
      </li>
      <li class="languagesElement">
        <div class="languagesElementTitle">French</div>
        <div class="languagesBar">
          <span class="languagesComplete" style="width: 40%;"></span>
          <div class="languagesProgress">40%</div>
        </div>
      </li>
    </ul>
  </div>