<div class="languages" *ngFor="let section of sections$ | async">
    <div class="languagesTitle">Languages</div>
    <ul class="languagesList" *ngFor="let field of section.information">
      <li class="languagesElement">
        <div class="languagesElementTitle">{{ field.title }}</div>
      </li>
      <p-progressBar [value]="field.value" [style]="{'height': '18px', 
                                                     'width': '180px', 
                                                     'margin-right': '5px',
                                                     'background': '#b1eaff'}"></p-progressBar>
    </ul>
</div>