<div class="languages" *ngFor="let section of sections$ | async">
    <div class="languagesTitle">Languages</div>
    <ul class="languagesList" *ngFor="let field of section.information">
      <li class="languagesElement">
        <div class="languagesElementTitle">{{ field.title }}</div>
        <div class="languagesBar">
          <span class="languagesComplete" [ngStyle]="{'width': field.value}"></span>
          <div class="languagesProgress">{{ field.value }}</div>
        </div>
      </li>
    </ul>
  </div>