  .languages {
    width: 100%;
  }
  
  .languagesList {
    list-style: circle;
  }
  
  .languagesElement {
    display: flex;
    width: 80%;
    margin-bottom: 10px;
    color: #b1eaff;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .languagesTitle {
    margin-top: 20px;
    color: #ffffff;
  }

  .languagesElementTitle {
    width: 100%;
    margin-bottom: 5px;
  }

  .languagesBar {
    width: 100%;
    margin-bottom: 5px;
  }