  .personal {
    width: 100%;
    display: block;
  }

  .personalName {
      color: #ffffff;
  }

  .personalList {
      list-style: square;
  }

  .personalElement {
    display: flex;
    flex-direction: column;
  }

  .personalElementTitle {
      color: #ffffff;
  }

  .personalElementContext {
      padding-left: 10px;
      color: #b1eaff;
      margin-bottom: 5px;
  }