<div class="portfolio">
  <p-splitter layout="horizontal" [style]="{'width': '50%', 'height': 'auto'}" [panelSizes]="[40,60]">
    <ng-template pTemplate>
      <p-splitter layout="vertical">
        <ng-template pTemplate>
          <app-personal></app-personal>
        </ng-template>
        <ng-template pTemplate>
          <app-about></app-about>
        </ng-template>
        <ng-template pTemplate>
          <app-languages></app-languages>
        </ng-template>
      </p-splitter>
    </ng-template>
    <ng-template pTemplate>
      <app-section></app-section>
    </ng-template>
  </p-splitter>
 </div>