 .register {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
    background: #eee;
 }
 
 .registerForm {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background: #fff;
    text-align: center;
    width: 500px;
 }
 
 .registerForm h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333;
 }
 
 .registerInput {
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0;
    background: #eee;
    border-radius: 5px;
 }

 .registerButton {
    background: #fbd0d9;
    color:crimson;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
 }
 
 .registerButton:hover{
    background: crimson;
    color: #fff;
 }
 
 .registerWarning {
    margin: 10px 0;
    display: block;
    color: red;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
 }

 .registerLink {
   font-size: 15px;
   cursor: pointer;
 }